.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.board {
  width: 640px;
  height: 640px;
  background-color: green;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: calc(640px / 8);
  height: calc(640px / 8);
  border: 1px solid black;
}

.stone {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
}

.canPlace {
  background: #ddd;
}
